version: '3.8'

services:
  web:
    build: .
    container_name: django-playground-web
    command: >
      bash -c "
      python manage.py migrate && 
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/usr/src/
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: django-playground-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: django-playground-db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: VeryDifficultPassword!

volumes:
  postgres_data:
